@mixin debug() {
  @if $is_debug {
    border: 1px solid red;
  }

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin bottom-line-border($width:1px,$color:$color1) {
  border-bottom: $width solid $color;
  padding-bottom: $spacer;
  margin-bottom: $spacer;
}
